body::after{
    top: -30%;
}

section.results{
    display: flex;
    padding: 0 30px 0 30px;
}


div.card h3{
    margin: 0;

}

div.card{
    padding: 20px;
    width: 150px;
    height:250px;
    box-shadow: 1px 2px 5px; 
    background-color: white;  
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #595959;
    border-radius: 15px;
    margin: 10px;
}

div.card i{
    font-size: 100px;
    padding-top: 30px;
}

div.card .temp{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

div.card h3.desc{
    margin-top: 15px;
}

