<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c91f3ee834.js" crossorigin="anonymous"></script>

</head>
<body>

    <h1>Weather App </h1>

    <div class="card">
        <h3 class="city">Chennai</h3>
        <h3 class="temp">31 °C </h3>
        <i class="fas fa-cloud-sun-rain"></i>
        <h3 class="desc">Cloudy</h3>
    </div>
</body>
</html>