{% extends 'index.html' %}

{% block head %} 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/card.css') }}">

{% endblock %}


{%  block body %}
<!-- <div>
    <h1>The current temperature of {{city}},{{cnty}} is : {{ temp }} degrees Celsius</h1>
</div> -->

{%for element in search_list:%}
<div class="card">
	<h3 class="city">{{element['name']}}, {{element['country']}}</h3>
	<h3 class="temp">{{ element['temp'] }} °C </h3>
	<i class="fas fa-cloud-sun-rain"></i>
	<h3 class="desc">Cloudy</h3>
</div>
{%endfor%}

{% endblock %}